@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@theme {
  --color-primary: #fc8a06;
  --color-secondary: #14532d;
}
body {
  font-family: "poppins";
}
@keyframes shakeSmooth {
  0%,
  100% {
    transform: rotate(0deg) translateX(0);
  }

  25% {
    transform: rotate(-2deg) translateX(-2px);
  }

  50% {
    transform: rotate(2deg) translateX(2px);
  }

  75% {
    transform: rotate(-1deg) translateX(-1px);
  }
}
